:root {
    --cor-header: wheat;
    --cor-menu:#a36303;
    --cor-menu-hover:#c97a03;
}


header {
    width: 100%;
    height: 200px;
    background-color: var(--cor-header);
    box-shadow: 1px 1px 15px 1px black;
}

#card-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#header-logo {
    width: 40%;
    text-align: center;
}

#logo {
    width: 200px;
}

#header-nav {
    padding: 0  ;
    width: 50%;
    padding: 10px;
}



/*SUBMENU*/
/* Estilo geral do menu */
.menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    background-color: var(--cor-menu);
    border-radius:  20px 0px 0px 20px;
  }

  .menu > li {
    position: relative; /* Necessário para posicionar o dropdown */
  }

  .menu > li > a {
    display: block;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    background-color: var(--cor-menu);
    border-radius: 20px 0px 0px 20px ;
  }

  .menu > li > a:hover {
    background-color: var(--cor-menu-hover);
    transition: .5s ease-in-out;
  }

  /* Estilo do dropdown */
  .dropdown {
    position: absolute;
    top: 100%; /* Faz o dropdown aparecer abaixo do item */
    left: 0;
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: var(--cor-menu);
    display: none; /* Inicialmente escondido */
  }

  .dropdown > li > a {
    display: block;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    background-color: var(--cor-menu);
  }

  .dropdown > li > a:hover {
    background-color: var(--cor-menu-hover);
  }

  /* Exibir o dropdown ao passar o mouse */
  .menu > li:hover .dropdown {
    display: block;
    transition: 1s ease-in-out;
  }

  .dropdown {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
  }
  
  .menu > li:hover .dropdown {
    opacity: 1;
    visibility: visible;
  }
/*FIM SUBMENU*/

#header-nav{
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}


#search-box{
   display: flex;
   align-items: center;
}


#pesquisa{
    height: 30px;
    width: 50%;
    border-radius: 20px 0 0 20px;
    border: none;
    outline: none;
    padding: 7px;
}

#btn-pesquisa{
    height: 30px;
    width: 10%;
    border-radius: 0 20px 20px 0;
    border: none;
}



#btn-pesquisa:hover {
    cursor: pointer;
    background-color: var(--cor-menu);
    transition: .5s ease-in-out;
}
